{% macro metadata_row(counter, field_value='', removable=True) %}
  <div class="{{ box_class }}" id="{{ box_id ~ counter }}" data-metadata-row>
    <div class="col-sm-6">
      {{ form.input(input_name ~ counter,
          id=input_name ~ counter,
          label=input_label,
          type='text',
          value=field_value,
          classes=['control-full'],
          attrs={'class': 'custom-resource-metadata-input ' ~ 'input-' ~ input_name},
          is_required=False)
      }}
    </div>
    <div class="col-sm-2 right-side-columns">
      {% snippet 'snippets/ckanext_resource_custom_metadata_modal.html',
          metadata_field_name=input_name,
          metadata_field_title=input_label,
          counter_id=counter,
          resources=resources,
          metadata_field_value=field_value,
          metadata_actual_name=metadata_actual_name
      %}
    </div>
    {% snippet 'snippets/ckanext_resource_custom_metadata_resources_count.html',
        input_name=input_name,
        counter=counter
    %}
    {% if removable %}
      <div class="col-sm-1 right-side-columns">
        <a href="#" class="box-remove-anchor" id="{{ remove_icon_id ~ counter }}" data-remove-metadata-row>
          <i class="fa fa-minus-circle remove-metadata-icon"></i>
        </a>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% set initial_count = selected_fields|length if selected_fields else 1 %}
<section class="metadata-field-group"
         data-metadata-field-group
         data-input-name="{{ input_name }}"
         data-next-index="{{ initial_count + 1 }}">
  <input type="hidden"
         id="{{ 'processed_metadata_count_' ~ input_name }}"
         value="{{ selected_fields|length }}">
  <div data-metadata-rows>
    {% if selected_fields %}
      {% for processed_meta in selected_fields %}
        {{ metadata_row(loop.index, processed_meta, loop.index > 1) }}
      {% endfor %}
    {% else %}
      {{ metadata_row(1, '', False) }}
    {% endif %}
  </div>
  <template data-metadata-row-template>
    {{ metadata_row('__INDEX__', '', True) }}
  </template>
  <button type="button"
          class="btn btn-success"
          id="{{ add_new_button_id }}"
          data-add-metadata-row>+ {{ add_new_button_text }}</button>
</section>
