{% ckan_extends %}

{% block basic_fields %}
    {{ super() }}
    {% asset 'ckanext-resource-custom-metadata/add-css' %}
    {% asset 'ckanext-resource-custom-metadata/field-js' %}

    {{ form.input('material_combination',
        id='material_combination_id',
        label=_('Material or Material Combination'), 
        value=data.material_combination,  
        classes=['control-full'],
        attrs={'class': 'custom-resource-metadata-input input-material_combination_'}
    )
    }}

    {{ form.input('surface_preparation',
        id='surface_preparation_id',
        label=_('Surface Preparation'), 
        value=data.surface_preparation,  
        classes=['control-full']) 
    }}

    {{ form.input('atmosphere',
        id='atmosphere_id',
        label=_('Atmosphere'), 
        value=data.atmosphere,  
        classes=['control-full']) 
    }}

    {{ form.input('data_type',
        id='data_type_id',
        label=_('Data type (mechanical, chemical ...)'), 
        value=data.data_type,  
        classes=['control-full']) 
    }}

    {{ form.input('analysis_method',
        id='analysis_method_id',
        label=_('Measurement/Analysis method'), 
        value=data.analysis_method,  
        classes=['control-full']) 
    }}
{% endblock  %}