{% ckan_extends %}

{% block resource_additional_information_inner %}
     <div class="module-content">
          <h2>{{ _('SFB specific metadata') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Material or Material Combination') }}</th>
                <td>{{ res.material_combination }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Surface Preparation') }}</th>
                <td>{{ res.surface_preparation }}</td>
              </tr>
               <tr>
                <th scope="row">{{ _('Atmosphere') }}</th>
                <td>{{ res.atmosphere }}</td>
              </tr>
               <tr>
                <th scope="row">{{ _('Data type (mechanical, chemical ...)') }}</th>
                <td>{{ res.data_type }}</td>
              </tr>
               <tr>
                <th scope="row">{{ _('Measurement/Analysis Method') }}</th>
                <td>{{ res.analysis_method }}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
    {{ super() }}
{% endblock  %}