.resource-custom-metedata-box{
    display: none;
}

hr {
    border: none;
    height: 3px;
    background-color: rgb(14, 29, 165); 
}

.material-comb-box, .surface-preparation-box, .atmosphere-box, .data-type-box{
    display: none;
}

.remove-metadata-icon{
    color: red;
    font-size: 35px !important;
  }