.resource-custom-metedata-box{
    display: none;
}

hr {
    border: none;
    height: 3px;
    background-color: rgb(14, 165, 46); 
}

.material-comb-box, .surface-preparation-box{
    display: none;
}

.remove-metadata-icon{
    color: red;
    font-size: 35px !important;
  }